body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

h1, h2, h3 {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  padding: 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.plus {
  color: lightgreen;
}

.minus {
  color: red;
}
